.resume-container{
    width: 90%;
    height: 11em!important;
    padding: 20px 10px;
    margin: 0px auto;
    margin-top: 2rem;
    background-color: rgba(77, 34, 134,0.9);
    border-radius: 15px;
    color: #ffffff;
  }
  .resume-button{
    padding: 1em;
  }
  .myButton{
        background-color: #ffffff;
        color: #000000!important;
        font-weight: 700;
        padding: 13px 22px;
        text-transform: uppercase;
        border-radius: 6px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out 0s;
    }
    .myButton:hover{
        background-color: #000000;
        color: #ffffff!important;
        transition: all 0.3s ease 0s;
        transform: translateY(-3px);
    }